<!-- Simple login form -->
<form (submit)="recover()">
    <div class="panel panel-body login-form">
        <div class="text-center"><div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
            <h5 class="content-group">
                Восстановление пароля
                <small class="display-block">Укажите e-mail для восстановления пароля</small>
            </h5>
        </div>

        <div *ngIf="!recovered" class="form-group has-feedback has-feedback-left">
            <input [(ngModel)]="form.email" type="text" class="form-control" placeholder="E-mail">
            <div class="form-control-feedback">
                <i class="icon-mail5 text-muted"></i>
            </div>
        </div>

        <div *ngIf="recovered" class="text-success text-center" style="margin-bottom: 20px;">
            Письмо с инструкциями для восстановления пароля отправлено на указанный e-mail
        </div>

        <div *ngIf="!recovered" class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Восстановить пароль</button>
        </div>

        <div class="text-center">
            <a [routerLink]="['/auth/login']">Вход в панель управления</a>
        </div>
    </div>
</form>
<!-- /simple login form -->