<!-- Simple login form -->
<form (submit)="reset()">
    <div class="panel panel-body login-form">
        <div class="text-center"><div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
            <h5 class="content-group">
                Сброс пароля
                <small class="display-block">Укажите новый пароль</small>
            </h5>
        </div>

        <div *ngIf="!isReset" class="form-group has-feedback has-feedback-left">
            <input [(ngModel)]="form.password" type="password" class="form-control" placeholder="Пароль">
            <div class="form-control-feedback">
                <i class="icon-lock text-muted"></i>
            </div>
        </div>

        <div *ngIf="!isReset" class="form-group has-feedback has-feedback-left">
            <input [(ngModel)]="form.password2" type="password" class="form-control" placeholder="Пароль ещё раз">
            <div class="form-control-feedback">
                <i class="icon-lock text-muted"></i>
            </div>
        </div>

        <div *ngIf="isReset" class="text-success text-center" style="margin-bottom: 20px;">
            Пароль успешно изменен
        </div>

        <div *ngIf="!isReset" class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Сбросить пароль</button>
        </div>

        <div class="text-center">
            <a [routerLink]="['/auth/login']">Вход в панель управления</a>
        </div>
    </div>
</form>
<!-- /simple login form -->